<h1 appHighlight> {{title}}</h1>


<h2>Pick a color</h2>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlightColor]="color">Highlight me!</p>

<!-- Three radio buttons are provided for the user to select a color: green, yellow, or cyan. -->
<!-- Each radio button has a (click) event handler that sets the color variable to the corresponding color in app.component variable color. -->
<!-- Below the radio buttons, there's a <p> element with the [appHighlightColor] directive applied to it. This directive binds the color variable from the app component class to its input property, appHighlightColor. So, whenever the color variable in the component class changes, the directive applies the corresponding highlighting color to the <p> element. -->
<!-- As a result, when the mouse enters this paragraph, it will be highlighted with the color selected by the user. -->

<!-- [appHighlightColor]="color": This is property binding syntax in Angular. It binds the value of the color property from the component class to the appHighlightColor input property of the HighlightColorDirective. -->
<!-- color: This is the property from the component class that is being bound to the directive. It represents the color value that will be used to highlight the <p> element. -->

<h1><a href="https://angular.io/guide/attribute-directives">Read more here</a></h1>    